{% extends 'base.html' %}

{% block title %}
	<div>
		<h1>TASK: Pair of employees who have worked together</h1>
		<div>
			<p>
				Create an application that identifies the pair of employees who have worked
				together on common projects for the longest period of time.
			</p>
		</div>
	</div>
{% endblock title %}

{% block upload %}
	{% include "upload.html" %}
{% endblock upload %}

{% block main %}
	{% if employees %}
		<div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">EmpID</th>
						<th scope="col">ProjectID</th>
						<th scope="col">DateFrom</th>
						<th scope="col">DateTo</th>
					</tr>
				</thead>
				<tbody>
					{% for employee in employees %}
						<tr>
							{% if employee.emp_id %}
							    <td><a href="/employee/{{ employee.emp_id }}">{{ employee.emp_id }}</a></td>
							{% else %}
							    <td>{{ employee.emp_id }}</td>
							{% endif %}

							{% if employee.project_id %}
							    <td><a href="/project/{{ employee.project_id }}">{{ employee.project_id }}</a></td>
							{% else %}
							    <td>{{ employee.project_id }}</td>
							{% endif %}

							<td>{{ employee.date_from }}</td>
							<td>{{ employee.date_to }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}
{% endblock main %}
